div {
    width: 120px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

div::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    padding: 3px 0;
}

span {
    padding: 5px 0;
    cursor: pointer;
}
